.wrapper {
  position: relative;
}

.count {
  position: absolute;
  z-index: 1003;
  top: 0.1rem;
  left: 1rem;

  position: absolute;
  padding: 0.25rem;
  min-width: 1.5rem;
  border-radius: 50px;
  background-color: rgba(rgb(245, 55, 96), 0.9);
  color: white;

  &:hover {
    color: white !important;
  }
}

.animate {
  animation: pop 0.1s ease-in-out forwards;
}

@keyframes pop {
  0% {
    transform: translatY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}
