.head {
  th {
    border-top: 1px solid var(--theme-blue-400);
    border-bottom: 1px solid var(--theme-blue-400);
    margin: 0;
    padding: 10px 0;
    color: var(--theme-text-black);
    background-color: var(--theme-bg-cart-view-th);
  }
}

.first_column_header {
  span {
    position: absolute;
  }
}

.first_column {
  text-align: center;
}
