.caption {
  color: var(--theme-text-black);
  padding-bottom: 20px;
  font-size: var(--fs-2xl);
}

.container {
  display: flex;
  justify-content: center;
  // max-width: 80rem;
  table {
    max-width: 60rem;
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
    
    tr {
      border-bottom: 1px solid var(--theme-bd-cart-view-tr);
    }
  }
}
